<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        {
            margin: 0;
            padding: 0;
            box-setting: border-box;
        }
        body{
            height: 100vh;
            display:flex;
            align-items: center;
            justify-content: center;
        }
        .container{
            display: flex;
            flex-direction: column;
            width: 300px;
            padding: 15px;
            border: 1px solid rgba(107, 122, 127, 0.285);
            border-radius: 5px;
        }
        input{
            margin: 5px 0px;
            height: 35px;
            padding: 7px;
            color: rgb(49, 141, 141);
            box-shadow: blue;
            ma
        }
        button{
            height: 35px;
            margin:5px 0px;
            background-color: none;
            border: none;
            border-radius: 5px;
            color:#333333;
            border-color: aqua;
        }
        button:active{
        background: skyblue;
        }
        button:focus{
            background:green;
        }
        button:hover{
            back-ground:#4a30de;
            color: skyblue;
        }
    </style>

</head>
<body>
<div class="container">
    <input type="email"
    placeholder="email">
    <input type="password"
    placeholder="password">
    <button>Login</button>
    <button>create new account</button>


</div>
    
</body>
</html>